# NASDAQ Data API

The NASDAQ API provides free access to data from several sources. You can search their data products [here](https://data.nasdaq.com/search). (Choose "Free" in the filter)

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nasdaqdatalink as nasdaq

# Reading API key
nasdaq.read_key('NASDAQ_API_KEY.txt')

## IMF Cross Country Macroeconomic Statistics
This source provides **yearly** data from the International Monetary Fund (IMF).
* [Link to documentation and indicator codes](https://data.nasdaq.com/data/ODA-imf-cross-country-macroeconomic-statistics/documentation)

In [11]:
# Example code
# ODA is the code for this data source (IMF Cross Country Macroeconomic Statistics)
# TUR is Turkey's ISO country code
# LP is the indicator for population

data = nasdaq.get('ODA/TUR_LP')

In [21]:
# Choose indicator 
indicator = 'LUR'
data = nasdaq.get(f'ODA/TUR_{indicator}')

In [23]:
data.tail()

             Value
Date
2020-12-31  17.200
2021-12-31  15.567
2022-12-31  10.720
2023-12-31  10.720
2024-12-31  10.500

## World Bank Data
Yearly data for various indicators. See the available indicators in the meta data below.
* [Docs](https://data.nasdaq.com/databases/WB/documentation)

In [46]:
# Loading meta data
meta_data = nasdaq.get_table('WB/METADATA')

In [68]:
# Searching available indicators
look_for = 'inflation'
cond = meta_data['name'].str.lower().str.contains(look_for)
meta_data.loc[cond]

,series_id,name,description
None,,,
781,NY.GDP.DEFL.KD.ZG.AD,"Inflation, GDP deflator: linked series (annual %)",Inflation as measured by the annual growth rat...
782,NY.GDP.DEFL.KD.ZG,"Inflation, GDP deflator (annual %)",Inflation as measured by the annual growth rat...
1132,FP.CPI.TOTL.ZG,"Inflation, consumer prices (annual %)",Inflation as measured by the consumer price in...

In [69]:
# Loading some data for Turkey
# Choose series_id from meta_data
series_id = 'FP.CPI.TOTL.ZG'
data = nasdaq.get_table('WB/DATA', series_id=series_id, country_code='TUR')

In [70]:
data.head()

           series_id country_code country_name  year      value
None
0     FP.CPI.TOTL.ZG          TUR      Turkiye  2021  19.596493
1     FP.CPI.TOTL.ZG          TUR      Turkiye  2020  12.278957
2     FP.CPI.TOTL.ZG          TUR      Turkiye  2019  15.176822
3     FP.CPI.TOTL.ZG          TUR      Turkiye  2018  16.332464
4     FP.CPI.TOTL.ZG          TUR      Turkiye  2017  11.144311

## BP Energy Production and Consumption

Yearly energy data. See available datastes in meta data below.

* [Docs](https://data.nasdaq.com/data/BP-energy-production-and-consumption/usage/quickstart/python)

In [43]:
# This file contains the description and codes of the available data
path = 'data/BP_metadata.csv'
meta_data = pd.read_csv(path)

# Filtering data for Turkey
cond = meta_data['name'].str.contains('Turkey')
meta_data = meta_data.loc[cond].reset_index(drop=True)

In [44]:
meta_data.head()

,code,name,description,refreshed_at,from_date,to_date
0,C02_EMMISSIONS_TUR,Carbon Dioxide (CO2) Emmissions - Turkey,Carbon Dioxide (CO2) Emmissions - Turkey. Mill...,2021-12-22 04:00:58,1965-12-31,2020-12-31
1,COAL_CONSUM_O_TUR,Coal Consumption - Oil Equivalent - Turkey,Coal Consumption - Oil Equivalent - Turkey. Mi...,2019-08-22 15:54:59,1965-12-31,2018-12-31
2,COAL_PROD_O_TUR,Coal Production - Oil Equivalent - Turkey,Coal Production - Oil Equivalent - Turkey. Mil...,2019-08-22 15:54:59,1981-12-31,2018-12-31
3,COAL_PROD_TUR,Coal Production - Turkey,Coal Production - Turkey. Million Tonnes. Comm...,2022-11-22 04:00:39,1981-12-31,2021-12-31
4,ELEC_GEN_TUR,Electricity Generation - Turkey,Electricity Generation - Turkey. Terawatt Hour...,2022-11-22 04:00:39,1985-12-31,2021-12-31

In [41]:
indicator = 'ELEC_GEN_TUR'

cond = meta_data['code'] == indicator
print(f"Downloading {meta_data.loc[cond, 'name'].squeeze()} data")
print('\nDescription:')
print(meta_data.loc[cond, 'description'].squeeze())

data = nasdaq.get(f'BP/{indicator}', start_date='2000-01-01')

Downloading Electricity Generation - Turkey data

Description:
Electricity Generation - Turkey. Terawatt Hours. Based on gross output.

In [42]:
data.tail()

                 Value
Date
2017-12-31  297.277500
2018-12-31  304.801900
2019-12-31  303.897600
2020-12-31  306.703100
2021-12-31  333.326545