In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os, glob
from pathlib import Path
import re
import json
import seaborn as sns

from ProjectPackage.util import get_ticker, HIGHLY_CORRELATED_FEATURES, process_target_data, trim_sectors, merge_feature_target

In [2]:
# Loading data
path = 'processed_data/Features_2008.csv'
feature = pd.read_csv(path, index_col=0, parse_dates=['date'])

path = 'processed_data/Target.csv'
target = pd.read_csv(path, index_col=[0], parse_dates=['date'])

shifted_target = process_target_data(target, 6, pct_change=True)
shifted_target = trim_sectors(shifted_target, min_tickers=5)

data = merge_feature_target(feature, shifted_target, by_sector=False)

In [3]:
data

,date,year,month,consumer_credits,consumer_price_index,brent_oil_price,current_account_deficit,exports_usd,imports_usd,export_unit_value_index_usd,...,retail_sales,unemployment_30-34,ExchangeRate,ticker,marketcap,Sector,HOTELS AND RESTAURANTS,MANUFACTURING,TECHNOLOGY,WHOLESALE AND RETAIL TRADE
0,2009-01-01,2009,1,5.074031e+10,160.90,43.44,-330000000,7884493524,9281137649,95.10,...,39451354.00,13.8,1.589052,ADANA,0.563910,MANUFACTURING,0,1,0,0
1,2009-01-01,2009,1,5.074031e+10,160.90,43.44,-330000000,7884493524,9281137649,95.10,...,39451354.00,13.8,1.589052,ADBGR,0.494382,MANUFACTURING,0,1,0,0
2,2009-01-01,2009,1,5.074031e+10,160.90,43.44,-330000000,7884493524,9281137649,95.10,...,39451354.00,13.8,1.589052,ADEL,0.713836,MANUFACTURING,0,1,0,0
3,2009-01-01,2009,1,5.074031e+10,160.90,43.44,-330000000,7884493524,9281137649,95.10,...,39451354.00,13.8,1.589052,ADNAC,0.485714,MANUFACTURING,0,1,0,0
4,2009-01-01,2009,1,5.074031e+10,160.90,43.44,-330000000,7884493524,9281137649,95.10,...,39451354.00,13.8,1.589052,AEFES,0.423423,MANUFACTURING,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23155,2018-12-01,2018,12,7.248719e+10,393.88,57.36,-543000000,13810281310,16554303252,92.37,...,41458399.37,12.5,5.306124,VESBE,0.480865,MANUFACTURING,0,1,0,0
23156,2018-12-01,2018,12,7.248719e+10,393.88,57.36,-543000000,13810281310,16554303252,92.37,...,41458399.37,12.5,5.306124,VESTL,1.227027,MANUFACTURING,0,1,0,0
23157,2018-12-01,2018,12,7.248719e+10,393.88,57.36,-543000000,13810281310,16554303252,92.37,...,41458399.37,12.5,5.306124,VKGYO,-0.110553,FINANCIAL INSTITUTIONS,0,0,0,0
23158,2018-12-01,2018,12,7.248719e+10,393.88,57.36,-543000000,13810281310,16554303252,92.37,...,41458399.37,12.5,5.306124,VKING,0.063636,MANUFACTURING,0,1,0,0
23159,2018-12-01,2018,12,7.248719e+10,393.88,57.36,-543000000,13810281310,16554303252,92.37,...,41458399.37,12.5,5.306124,YKBNK,0.506250,FINANCIAL INSTITUTIONS,0,0,0,0

In [24]:
path = 'processed_data/target_data.csv'
target_ = pd.read_csv(path, parse_dates=['date'])

In [25]:
target

,date,year,month,ticker,firm,marketcap,Sector
0,2009-01-01,2009,1,ALYAG,ALTINYAĞ,1.077940e+04,MINING AND QUARRYING
1,2009-01-01,2009,1,AEFES,ANADOLU EFES,4.995000e+06,MANUFACTURING
2,2009-01-01,2009,1,BANVT,BANVİT,1.370000e+05,MANUFACTURING
3,2009-01-01,2009,1,CCOLA,COCA COLA İÇECEK,1.958655e+06,MANUFACTURING
4,2009-01-01,2009,1,ERSU,ERSU GIDA,1.116000e+04,MANUFACTURING
...,...,...,...,...,...,...,...
28375,2019-12-01,2019,12,LINK,LINK BILGISAYAR,9.982500e+04,TECHNOLOGY
28376,2019-12-01,2019,12,LOGO,LOGO YAZILIM,1.520000e+06,TECHNOLOGY
28377,2019-12-01,2019,12,NETAS,NETAS TELEKOM.,8.471343e+05,TECHNOLOGY
28378,2019-12-01,2019,12,PKART,PLASTIKKART,2.108925e+05,TECHNOLOGY
28379,2019-12-01,2019,12,ASELS,ASELSAN,2.387160e+07,TECHNOLOGY